<p id="notice"><%= notice %></p>

<p>
  <strong>Namel:</strong>
  <%= @service.namel %>
</p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category_id %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
